<br>

<div *ngIf="token">
    Token: {{ token }}

    <button (click)="cikisYap()"> Çıkış Yap</button>
</div>
<br>
{{token}}
{{mail}}
<table *ngIf = "!token" >
    <tr>
        <th>Mail:  </th>
        <td><input  [(ngModel)]="mail" name="mail" ></td>
    </tr>
    <tr>
        <th>Şifre:  </th>
        <td><input type="password" [(ngModel)]="pass" name="pass" ></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="girisYap()">Giriş Yap</button>
        </td>
    </tr>
</table>